body {
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;  
  font-size: 15px;  
}

h2:before {
  content:url('../images/tilde_left.png');
  left: -4px;
}

h2:after {
  content:url('../images/tilde_right.png');
  left: 4px;
}

h2:before,
h2:after {
  position:relative;
  top: -4px;
}

h2 {
  font-size: 24px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

article, a, a:visited {
  color: rgb(68, 68, 68);
}

article {  
  background-color: rgba(255, 255, 255, 0.95);
    
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 9px;
  
  top: 170px;
  position: relative;  
  
  padding: 30px;
  
  width: 600px;
}

#header, article {
  margin: 0 auto; 
}

article img.example {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  display: block;
}

body {
  background-image: url('../images/berkhout.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
}

ol#municipalities li {
  list-style-type: none;
}

ol#municipalities {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
  
  margin: 0;
  padding: 0;
}

a.map {
  text-decoration: none;

  color: #aaa;
}